# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
ansible-venv/
.venv/
venv/

# Environment / secrets
.env
*.pem
*.key
*.pfx

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!example.tfvars

# Ansible
*.retry

# Docker
docker-compose.override.yml

# VS Code
.vscode/

# OS files
.DS_Store
